@font-face {
    font-family: 'Gudea';
    src: url("../assets/fonts/Gudea/Gudea-Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Pontano';
    src: url("../assets/fonts/Pontano_Sans/PontanoSans-VariableFont_wght.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Shanti';
    src: url("../assets/fonts/Shanti/Shanti-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

body{
    position: relative;
}


*{
    margin : 0;
    padding : 0; 
    box-sizing : border-box;
}

main{
    background-image: url('../assets/img/sider.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment:fixed;
    z-index: -1;
}

.linear-black{
    background-image: linear-gradient( rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url('../assets/img/sider.jpg');
}
.container-sider{
    width : 100%;
    height : 100vh;
    aspect-ratio : 16/9;
    position : relative;
}
.size{
    height: 0;
    min-height : 100vh;

}

.sider-bg{
    width:100%;
    height:100%;
    object-fit: cover;
    filter: brightness(0.6)
}
.content-sider{
    position : absolute;
    top : 50%;
    left : 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

.content-sider p{
    font-size: 2.5rem;
    color:white;
    font-family: 'Pontano', sans-serif ;
}
.content-sider button{
    margin-top:50px ;
    width:15vw;
    height: 8vh;
    font-size: 2.5rem;
    border-radius: 30px;
    background-color: rgba(255,255,255,0.6);
} 
h1{
    font-family: 'Gudea', sans-serif ;
    font-size: 6rem;
    color:white;
}

h2{
    font-family: 'Shanti', sans-serif;
    font-size: 3rem;
    margin-bottom: 100px;
}

.white{
    background-color: #e8e7e7 ;
}

.section{
    padding: 100px 0;
    
}
.element p{
    font-size: 1.5rem;
    line-height: 1.5em;
}

.element{
    max-width: 1280px;
    margin-inline : auto;
    
}
.flex{
    display: flex;
}
.w25{
    width:25%;
}
.w32{
    width:32%
}
.w40{
    width:40%;
}
.w60{
    width:60%;
}

.space-between{
    
    justify-content: space-between;
}
.gap20{
    column-gap:20px;
}
.wrap{
    flex-wrap: wrap;
}
.dark{
    background-color: 
    rgba(14,18,61,0.4);
    color:white;
}

.text-center{
    text-align: center;
}

.skills .w25{
    
    color: black;
    padding:10px;
    border-radius: 25px;
}

.skills .w25 p{
    margin-top:10px;
    font-weight: bold;
}
.skills .skill:nth-of-type(2){
    background-color: rgba(134,174,252,0.7);
}

.skills .skill:nth-of-type(1),.skills .skill:nth-of-type(3) {
    background-color: rgba(53,104,205,0.7);
}

.container-skills{
    display: flex;
    flex-direction: column;
    gap:20px;
}
.compt{
    display: flex;
    flex-direction: column;
    text-align: center;
}
.skills{
    display : flex;
    justify-content: center;
    gap : 20px;
}


.skill img{
    width : 100px;
    height : 100px;
    aspect-ratio : 1/1;
    object-fit: contain;
    
}

.realisation{
    height: auto;
    aspect-ratio: 1/1;
    position: relative;
}

.realisation a{
    display: block;
    width:100%;
    height:100%;
    text-decoration: none;
    color:white;
}

.realisation img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    filter: brightness(40%);
    transition:filter 0.6s ;
    transition: .6s ease;
}
.realisation:hover img{
    filter: brightness(60%);
}
.realisation h3{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size:1.5rem;
    width: max-content;
    opacity: 0;
    transition: .6s ease;
}

.realisation:hover h3{
    opacity: 1;
}


header nav{
    width:80vw;
    margin:auto;
}

header nav ul{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    row-gap: 20px;
    column-gap: 20px;
}


header nav ul li{
    min-width:10vw;
    min-height: 5vh;
    align-items: center;
    display: flex;
    padding: 0 20px;
    border-radius: 20px;
}

nav ul li:nth-of-type(1), 
nav ul li:nth-of-type(3){
    background-color: rgb(134,174,252);
}

nav ul li:nth-of-type(2), 
nav ul li:nth-of-type(4){
    background-color:rgb(53,104,205);
}

header nav ul li a{
    text-decoration: none;
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;
    color:white;
    text-align: center;
    margin: auto;
}

header{
    display: none;
    position: fixed;
    padding: 80px 0;
    background-color:white;
    width: 100vw;
    z-index: 1;
}

.display{
    display: block;
}

.burger{
    position: fixed;
    width:50px;
    height: 50px;
    z-index:10;
    top:10vh;
    left:5%;
    transform: translate(-50%,-50%);
    display: flex;
    flex-direction: column;
    justify-content:space-between;
   
    cursor: pointer;
}
.barBlack{
    border: 3px solid black;
    transition: .8s ease;
}


.open:nth-of-type(1) {
    transform: rotate(45deg) translatex(15px) translateY(15px);
    transition: .8s ease;
}

.open:nth-of-type(3){
    transform: rotate(-45deg) translatex(16px) translateY(-16px);
    transition: .8s ease;
}

.open:nth-of-type(2) {
    width:50%;
    opacity:0;
    transform: translateX(12px);
    transition: .8s ease;
}
.icons{
    position: absolute;
    top:50%;
    right:5%;
    transform: translate(-50%,-50%);
}

i{
    font-size: 5rem;
}

.fa-toggle-off{
   color: whitesmoke;
}

.displaynone{
    display:none;
}

.bg-dark{
    background-color: rgb(35, 35, 35, 0.99);
}

.text-white{
    color:rgba(255,255,255,0.8);
}
.text-black{
    color:black;
}

.bar-white{
   border-color: white;
}

.container-global{
    display: none;
}

.burger{
    visibility: hidden;
}

.burger-show{
    visibility: visible;
}

.arrow{
    position: fixed;
    bottom: 5vh;
    right:3vw;
    display: none;
    z-index:20;
    cursor: pointer;
}